.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

.logoContainer{
    display: flex;
    align-items: center;
}

.iconText{
    font-family: var(--second-family);
font-weight: 400;
font-size: 17px;
line-height: 110%;
letter-spacing: -0.01em;
color: var(--color-scheme-1-text);
}

.nav{
    display: flex;
    justify-content: end;
}

.nav ul{
    list-style-type: none;
    display: flex;
}

.navLink{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 32px;
}

.navItem{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 4px;
}

.navAuthLink{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
}

.navItemLinkLogin{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 8px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 4px 10px;
    width: 58px;
    height: 35px;
    background: rgba(255, 255, 255, 0.1);
}

.navItemLinkRegister{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 8px;
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 4px 10px;
    width: 113px;
    height: 35px;
    background: #fff;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #000;
}

.navItemLink{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #fff;
}