.title {
  text-align: center;
}

.listWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: 100%;
}

.listCardsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.listCardsWrapper > * {
  flex: 1 1 100%;
  max-width: 335px;
}

.listPagination {
  display: flex;
  justify-content: center;
  padding: 8px;
  border: 12px;
}

.listPaginationBtn {
  width: 335px;
  height: 48px;
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border: 1px solid var(--Color-RoyalBlue, rgba(65, 105, 225, 1));
border-radius: var(--Radius-Small, 8px);
background: var(--Color-RoyalBlue, rgba(65, 105, 225, 1));
color: var(--Color-White, rgba(255, 255, 255, 1));

font-family: Nunito Sans;
font-size: 18px;
font-weight: 200;
line-height: 150%;
text-align: left;
}

/* планшет */
@media (min-width: 768px) {
  .listCardsWrapper > * {
    flex: 1 1 calc(50% - 24px);
    max-width: 340px;
  }

  .listPagination {
    display: flex;
    justify-content: center;
  }

  .listPaginationBtn {
    padding: 12px;
    width: 123px;
    height: 48px;
    border: none;
    border-radius: 8px;
    background-color: #4169e1;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
  }

  .listPaginationBtn:hover,
  .listPaginationBtn:focus {
    border: 1px solid #4169e1;
    background-color: #e8eeff;
    color: #000;
  }

  .listPaginationBtn:active {
    border: 1px solid #4169e1;
    background-color: #7a96ea;
    color: #000;
  }
}

/* десктоп */
@media (min-width: 1024px) {
  .listCardsWrapper > * {
    flex: 1 1 calc(25% - 24px);
    max-width: 310px;
  }

  .listPaginationBtn {
    width: 135px;
    height: 48px;
    padding: 10px 12px;
    font-size: 18px;
    font-weight: 500;
  }
}
