.title {
  text-align: center;
}

.listWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: 100%;
}

.listCardsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.listCardsWrapper > * {
  flex: 1 1 100%;
  max-width: 335px;
}

.listPagination {
  justify-content: center;
  padding: 8px;
  
}

.listPaginationBtn {
  padding: 12px;
  border: none;
  width: 335px;
  border-radius: 8px;
  background-color: #4169e1;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: transform 0.1s ease;
}

.listPaginationBtn:active {
  border: 1px solid #4169e1;
  background-color: #7a96ea;
  color: #000;
}

/* планшет */
@media (min-width: 768px) {
  .listCardsWrapper > * {
    flex: 1 1 calc(50% - 24px);
    max-width: 340px;
  }

  .listPagination {
    display: flex;
  }
  .listPaginationBtn {
    width: 123px;
  }

}

/* десктоп */
@media (min-width: 1024px) {
  .listCardsWrapper > * {
      flex: 1 1 calc(25% - 24px);
    max-width: 310px;
  
  }

  .listPaginationBtn {
     padding: 10px 12px;
    font-size: 18px;
    width: 135px;
    font-weight: 500;
  }
}
