.hero {
  padding: 196px 0;
  width: 100%;
  background-image: url("../../public/Hero-photos/mobile/bg-1x.png");
  background-size: 100% 100%;
  color: var(--white);
}
.title {
  font-weight: 900;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: -1%;
  margin-bottom: 24px;
}
.heroText {
  line-height: 150%;
  margin-bottom: 24px;
}
.heroButton {
  display: block;
  width: 100%;
  color: var(--white);
  background-color: var(--royal-blue);
  padding: 12px 0;
  text-align: center;
  font-weight: 500;
  border-radius: 8px;
}
@media (min-resolution: 192dpi) {
  .hero {
    background-image: url("../../public/Hero-photos/mobile/bg-2x.png");
  }
}

@media (min-width: 768px) {
  .hero {
    background-image: url("../../public/Hero-photos/tablet/bg.png");
    padding: 224px 0;
  }
  .heroTextWrapper {
    max-width: 704px;
  }
  .title {
    max-width: 450px;
    font-size: 48px;
  }
  .heroButton {
    width: 115px;
  }
  @media (min-resolution: 192dpi) {
    .hero {
      background-image: url("../../public/Hero-photos/tablet/bg@2x.png");
    }
  }
}
@media (min-width: 1440px) {
  .hero {
    background-image: url("../../public/Hero-photos/desktop/bg.png");
    height: 900px;
  }
  .title {
    max-width: 525px;
    font-size: 56px;
  }
  .heroText {
    font-size: 20px;
  }
  .heroButton {
    width: 126px;
    font-size: 18px;
  }
  @media (min-resolution: 192dpi) {
    .hero {
      background-image: url("../../public/Hero-photos/desktop/bg@2x.png");
    }
  }
}
