/* ========= mobile ========= */

.wrapper {
  width: 311px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 24px;
}

.image {
  height: 199px;
  width: 199px;
  border-radius: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  color: var(--black);
  text-align: center;
}

.description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--black);
  text-align: center;
}

/* ========= tablet ========== */

@media screen and (min-width: 768px) {
  .wrapper {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
  }

  .info {
    align-items: flex-start;
  }

  .title,
  .description {
    text-align: left;
    margin: 0;
  }
}

/* ========= desktop ========= */

@media screen and (min-width: 1440px) {
  .wrapper {
    width: 1312px;
    height: 199px;
  }

  .info {
    width: 367px;
  }
  .title {
    font-size: 32px;
    margin-bottom: 0;
  }

  .description {
    font-size: 18px;
  }
}


