.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
    background: #e8eeff;
    padding: 48px 20px; 
}

.footerAuth {
    background: transparent;
}

.footerTop {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.footerLogoSocials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 100%;
}

.logoSection {
    display: flex;
    align-items: center;
    gap: 5px;
}

.logoSectionText {
    font-weight: 400;
    font-size: 17px;
    line-height: 110%;
    letter-spacing: -0.01em;
    color: #000;
}

.socialsList {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    gap: 16px;  
}

.footerLinks {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
}

.footerLinksList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}

.footerLinksItem {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000;
}

.footerLinksItemText {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000;
}

.footerBottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top: 1px solid #d1d5db;
    padding-top: 32px;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #000;
}

.footerBottomAuth {
    padding-top: 0;
    background: transparent;
    border-top: none;
}

/* ==========================================================================
   2. МЕДІА-ЗАПИТИ (TABLET)
   ========================================================================== */

@media (min-width: 768px) {
    .footer {
        padding-left: 30px;
        padding-right: 30px;
    }

    .footerLogoSocials {
        flex-direction: row;
        justify-content: space-between; 
        align-items: center;
    }

    .footerLinksList {
        flex-direction: row;
    }
}

/* ==========================================================================
   3. МЕДІА-ЗАПИТИ (DESKTOP)
   ========================================================================== */

@media (min-width: 1440px) {
    .footer {
        padding-left: 64px;
        padding-right: 64px;
    }

    .footerTop {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
        width: 100%;
    }

    .footerLogoSocials {
        display: contents; 
    }

    .socials {
        margin: 0; 
    }

    .logoSection {
        width: 400px;
        justify-content: flex-start; 
    }

    .footerLinks {
        width: 400px; 
        justify-content: flex-end; 
    }

    .footerLinksList {
        gap: 24px;
    }
}