.formWrapper {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.title {
  font-family: "Sora", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.1;
  letter-spacing: -0.56px;
  margin: 32px 0;
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.labelText {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0;
}

.previewBox {
  width: 100%;
  max-width: 335px;
  height: 223px;

  background: #e0e0e0;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}

.previewImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.25;
}

.placeholderIcon {
  width: 64px;
  height: 64px;
}

.hiddenInput {
  display: none;
}

.uploadBtn {
  margin-top: 16px;
  width: max-content;
  padding: 4px 10px;
  font-size: 18px;
  font-weight: 500;

  background-color: rgba(0, 0, 0, 0.05);

  border-radius: 8px;
  cursor: pointer;
  border: none;

  font-family: "Nunito Sans", sans-serif;
  line-height: 1.5;
  letter-spacing: 0;

  border: 1px solid rgba(0, 0, 0, 0.15);
}

.input,
.select,
.textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;

  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0;
  color: rgba(76, 76, 76, 1);
}

.textarea {
  min-height: 180px;
  resize: none;
}

.error {
  color: #d60000;
  font-size: 12px;
  margin-top: 4px;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.saveBtn {
  width: 100%;
  padding: 6px 12px;
  font-size: 18px;
  font-weight: 500;

  border-radius: 8px;
  border: 1 solid rgba(65, 105, 225, 1);

  font-family: "Nunito Sans", sans-serif;

  line-height: 150%;
  letter-spacing: 0;

  color: rgba(255, 255, 255, 1);
  background-color: rgba(65, 105, 225, 1);
  cursor: pointer;
}

.saveBtn:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.cancelBtn {
  width: 100%;
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;

  background: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.15);

  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: rgba(0, 0, 0, 1);

  margin-bottom: 64px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .formWrapper {
    padding: 0 32px;
  }

  .title {
    font-size: 40px;
    margin-bottom: 8px;
  }

  .previewBox {
    height: 469px;
    border-radius: 20px;
    width: 100%;
    max-width: 100%;
  }

  .left,
  .right {
    width: 100%;
  }
}

@media (min-width: 1440px) {
  .formWrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 64px;
  }

  .title {
    font-size: 48px;
    margin-bottom: 8px;
  }

  .grid {
    display: grid;
    grid-template-columns: 865px 423px;
    gap: 24px;
    width: 100%;
  }

  .left {
    width: 100%;
    max-width: 865px;
  }

  .right {
    align-self: flex-start;
    margin-top: 24px;
  }

  .previewBox {
    max-width: 865px;
    height: 576px;
    border-radius: 24px;
  }

  .saveBtn,
  .cancelBtn {
    font-size: 18px;
  }
}

.modalContent {
  padding: 24px;
}

.modalTitle {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}

.modalText {
  font-size: 14px;
  margin-bottom: 20px;
}

.modalBtn {
  width: 100%;
  padding: 12px;
  background: var(--royal-blue);
  color: var(--white);
  border-radius: 8px;
  border: none;
}
