.about {
  padding: 64px 0;
  color: var(--black);
}
.aboutTextContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 64px;
}
.aboutTitle {
  font-weight: 900;
  font-size: 28px;
  line-height: 120%;
  letter-spacing: -1%;
}
.aboutText {
  line-height: 150%;
}
.aboutAchieveContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.icon {
  fill: var(--black);
  margin-bottom: 8px;
}
.aboutAchieveTitle {
  margin-bottom: 8px;
  font-weight: 900;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: -1%;
}
.aboutAchieveText {
  font-size: 18px;
  line-height: 150%;
}

@media (min-width: 768px) {
  .aboutTextContainer {
    flex-direction: row;
    justify-content: space-between;
  }
  .aboutTitle {
    font-size: 44px;
    min-width: 340px;
  }
  .aboutText {
    min-width: 340px;
  }
  .aboutAchieveContainer {
    flex-direction: row;
  }
}
@media (min-width: 1440px) {
  .aboutTextContainer {
    gap: 24px;
  }
  .aboutTitle {
    font-size: 52px;
    min-width: 755px;
  }
  .aboutText {
    font-size: 20px;
  }
  .aboutAchieveContainer {
    gap: 48px;
  }
  .icon {
    margin-bottom: 24px;
  }
  .aboutAchieveTitle {
    font-size: 32px;
    margin-bottom: 24px;
  }
  .aboutAchieve {
    max-width: 405px;
  }
}
